name: build

on:
    push:
      branches:
        - main
    pull_request:
      branches:
        - main

jobs:
  format_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Check formatting
        run: cargo fmt --check

  check_build_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Deps.
        run: ./.github/workflows/install_deps.sh

      - uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true

      - name: Unit tests
        run: cargo test

      - name: Clippy
        run: cargo clippy --all-targets -- -D warnings
