name: build

on:
    push:
      branches:
        - main
    pull_request:
      branches:
        - main

jobs:
  format_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Check formatting
        run: cargo fmt --check

  clippy_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Deps.
        run: ./.github/workflows/install_deps.sh

      - uses: Swatinem/rust-cache@v2

      - name: Clippy Check
        run: |
          cargo clippy --all-targets --no-default-features -- -D warnings
          cargo clippy --all-targets --features pystacks -- -D warnings

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Install Deps.
        run: ./.github/workflows/install_deps.sh

      - uses: Swatinem/rust-cache@v2

      - name: Build (no features)
        run: cargo build --no-default-features --release

      - name: Build (pystacks)
        run: cargo build --features pystacks --release

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Deps.
        run: ./.github/workflows/install_deps.sh

      - uses: Swatinem/rust-cache@v2

      - name: Unit tests (no features)
        run: cargo test --no-default-features

      - name: Integration tests (no features)
        run: |
          ./scripts/run-integration-tests.sh trace_validation
          ./scripts/run-integration-tests.sh analyze_commands

      - name: Unit tests (pystacks)
        run: cargo test --features pystacks

      - name: Integration tests (pystacks)
        run: |
          CARGO_FEATURES=pystacks ./scripts/run-integration-tests.sh trace_validation
          CARGO_FEATURES=pystacks ./scripts/run-integration-tests.sh analyze_commands
